.history {
    margin-bottom: 66px;
    color: #FFF;

    .history__container {

        .history__body {
            padding: 20px 20px 88px 50px;
            background-image: url("./assets/images/history/background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 5px;
        }

        @media (max-width: 399px) {
            .history__body {
                padding: 20px 20px 88px 38px;
            }
        }

        .carousel__arrows {
            margin-bottom: 29px;
            width: max-content;
            display: flex;
            margin-left: auto;
            column-gap: 10px;

            div {
                background-color: rgba(36, 36, 36, 0.3);

                &.active {
                    background-color: rgba(36, 36, 36, 1);
                    
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .history__title {
            font-size: 3rem;
            font-weight: 800;
            line-height: 86.667%;
            text-transform: uppercase;
            margin-bottom: 13px;
        }

        @media (max-width: 367px) {
            .history__title {
                font-size: 2.3rem;
            }
        }

        .history__date {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 19/16 * 100%;
            margin-bottom: 25px;
        }

        .history__button {
            width: 120px;
            padding: 11px 24px 15px;
            background-color: $main-red;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 100%;
            text-align: center;
        }
    }
}