.map-section {
    padding: 60px 0 20px;
    margin-bottom: 20px;

    .map-section__container {
        display: flex;
        justify-content: space-between;

        .map-section__list {
            padding: 23px 21px 25px 52px;
            background-color: $main-grey;

            ul {

                li {
                    color: #313131;
                    font-size: 1.6rem;
                    line-height: 250%;
                    font-weight: 400;
                    cursor: pointer;
                    display: flex;
                    column-gap: 10px;
                    align-items: center;
                    background-repeat: no-repeat;
                    padding-left: 32px;
                    background-position: left center;

                    &.active {
                        color: $main-red;
                        font-weight: 600;
                    }

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    &:hover {
                        color: $main-red;
                        font-weight: 600;
                        
                        svg {
                            
                            rect {
                                transition: all 0.5s ease;
                                opacity: 1;
                            }
                        }
                    }

                    &.map-list__arx {
                        background-image: url("./assets/images/map/arxeologiya.svg");
                    }

                    &.map-list__yozma {
                        background-image: url("./assets/images/map/yozma.svg");
                    }

                    &.map-list__hujjatlar {
                        background-image: url("./assets/images/map/hujjatlar.svg");
                    }

                    &.map-list__arxiv {
                        background-image: url("./assets/images/map/arxiv.svg");
                    }

                    &.map-list__fono {
                        background-image: url("./assets/images/map/fono.svg");
                    }

                    &.map-list__matbuot {
                        background-image: url("./assets/images/map/matbuot.svg");
                    }

                    &.map-list__memorchilik {
                        background-image: url("./assets/images/map/memorchilik.svg");
                    }

                    &.map-list__epigrafika {
                        background-image: url("./assets/images/map/epigrafika.svg");
                    }

                    &.map-list__numizmatika {
                        background-image: url("./assets/images/map/numizmatika.svg");
                    }

                    &.map-list__muhrlar {
                        background-image: url("./assets/images/map/muhrlar.svg");
                    }

                    &.map-list__xalq {
                        background-image: url("./assets/images/map/xalq.svg");
                    }

                    &.map-list__foto {
                        background-image: url("./assets/images/map/foto.svg");
                    }
                }

                @media (max-width: 894px) {
                    li {
                        flex: 0 1 33%;
                    }
                }

                @media (max-width: 731px) {
                    li {
                        flex: 0 1 45%;
                    }
                }

                @media (max-width: 555px) {
                    li {
                        font-size: 1.2rem;
                    }
                }

                @media (max-width: 452px) {
                    li {
                        flex: 0 1 100%;
                    }
                }
            }

            @media (max-width: 894px) {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }

        @media (max-width: 762px) {
            .map-section__list {
                padding: 23px 21px 25px 21px;
            } 
        }

        .map {
            min-width: 968px;
            height: 631px;
            max-height: 631px;
            position: relative;

            & > * {
                position: absolute;
                background-size: contain;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;

                    path {

                        &:hover {
                            fill: $main-red
                        }
                    }
                }
            }

            .map__qoraqalpoq {
                width: 365/968 * 100%;
                aspect-ratio: 365/354;
                // background-image: url("../assets/images/map/qoraqalpoq.svg");
                top: 0;
                left: 0;
                position: relative;

                &:hover::after {
                    content: "Qaraqalpog'iston";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 2;
                    background-color: white;
                    left: 50%;
                }
            } 

            .map__xorezm {
                width: 135/968 * 100%;
                aspect-ratio: 135/112;
                // background-image: url("../assets/images/map/xorazm.svg");
                top: 274/631 * 100%;
                left: 150/631 * 100%;

                &:hover::after {
                    content: "Xorazm";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 2;
                    background-color: white;
                    left: 50%;
                }
            }

            .map__navoi {
                width: 285/968 * 100%;
                aspect-ratio: 285/320;
                // background-image: url("../assets/images/map/navoi.svg");
                top: 146/631 * 100%;
                left: 208/631 * 100%;

                &:hover::after {
                    content: "Navoi";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 2;
                    background-color: white;
                    left: 50%;
                }

                svg {

                    path {
                        fill: #F1F1F1;

                        &:hover {
                            fill: $main-red
                        }
                    }
                }
            }

            .map__buxoro {
                width: 179/968 * 100%;
                aspect-ratio: 179/188;
                // background-image: url("../assets/images/map/buxoro.svg");
                top: 313/631 * 100%;
                left: 225/631 * 100%;

                &:hover::after {
                    content: "Buxoro";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 1;
                    background-color: white;
                    left: -90%;
                }
            }

            .map__qarshi {
                width: 186/968 * 100%;
                aspect-ratio: 186/115;
                // background-image: url("../assets/images/map/qarshi.svg");
                top: 455/631 * 100%;
                left: 302/631 * 100%;

                &:hover::after {
                    content: "Qarshi";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 2;
                    background-color: white;
                    left: -80%;
                }
            }

            .map__samarqand {
                width: 134/968 * 100%;
                aspect-ratio: 134/98;
                // background-image: url("../assets/images/map/samarqand.svg");
                top: 380/631 * 100%;
                left: 330/631 * 100%;

                &:hover::after {
                    content: "Samarqand";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: -30%;
                    z-index: 2;
                    background-color: white;
                    left: -80%;
                }
            }

            .map__termiz {
                width: 105/968 * 100%;
                aspect-ratio: 105/130;
                // background-image: url("../assets/images/map/termiz.svg");
                bottom: 0.9%;
                left: 59.8%;

                &:hover::after {
                    content: "Termiz";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 2;
                    background-color: white;
                    left: 75%;
                }
            }

            .map__jizzax {
                width: 117/968 * 100%;
                aspect-ratio: 117/127;
                // background-image: url("../assets/images/map/jizzax.svg");
                top: 54%;
                left: 60%;

                &:hover::after {
                    content: "Jizzax";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 70%;
                    z-index: 2;
                    background-color: white;
                    left: 50%;
                }
            }

            .map__sirdaryo {
                width: 58/968 * 100%;
                aspect-ratio: 58/83;
                // background-image: url("../assets/images/map/sirdaryo.svg");
                left: 68%;
                top: 58%;

                &:hover::after {
                    content: "Gulistan";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 35%;
                    z-index: 2;
                    background-color: white;
                    left: 75%;
                }
            }

            .map__tashkent {
                width: 146/968 * 100%;
                aspect-ratio: 146/158;
                // background-image: url("../assets/images/map/tashkent.svg");
                left: 71%;
                top: 43%;

                &:hover::after {
                    content: "Toshkent";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: -10%;
                    z-index: 2;
                    background-color: white;
                    left: 50%;
                }
            }

            .map__namangan {
                width: 101/968 * 100%;
                aspect-ratio: 101/70;
                // background-image: url("../assets/images/map/namangan.svg");
                left: 80.5%;
                top: 52%;

                &:hover::after {
                    content: "Namangan";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: -50%;
                    z-index: 2;
                    background-color: white;
                    left: 50%;
                }
            }

            .map__fargona {
                width: 105/968 * 100%;
                aspect-ratio: 105/66;
                // background-image: url("../assets/images/map/fargona.svg");
                left: 80%;
                top: 60%;

                &:hover::after {
                    content: "Farg'ona";
                    position: absolute;
                    width: 200px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: 100%;
                    z-index: 2;
                    background-color: white;
                    left: -50%;
                }
            }

            .map__andijan {
                width: 88/968 * 100%;
                aspect-ratio: 88/51;
                // background-image: url("../assets/images/map/andijan.svg");
                right: 4%;
                top: 57.5%;

                &:hover::after {
                    content: "Andijon";
                    position: absolute;
                    width: 100px;
                    height: 69px;
                    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
                    color: #313131;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 30/18 * 100%;
                    text-align: center;
                    padding-top: 18px;
                    top: -100%;
                    z-index: 2;
                    background-color: white;
                    left: -50%;
                }
            }

            .map__choosed-category {
                width: 100/968 * 100%;
                aspect-ratio: 1;
                background-image: url("./assets/images/map/folders.svg");
                top: 57/631 * 100%;
                right: 45/968 * 100%;
            }
        }

        @media (max-width: 1324px) {
            .map {
                min-width: 726px;
                height: 473px;
                max-height: 473px;
            }
        }

        @media (max-width: 1074px) {
            .map {
                min-width: 545px;
                height: 355px;
                max-height: 355px;
            }
        }

        @media (max-width: 574px) {
            .map {
                min-width: unset;
                width: 304px;
                height: 198px;
                max-height: 198px;
            }
        }
    }

    @media (max-width: 1324px) {
        .map-section__container {
            align-items: center;
        }
    }

    @media (max-width: 894px) {
        .map-section__container {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}