.wellcome-section {
    padding: 294px 0 377px;
    background-image: url("./assets/images/wellcome-section/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;

    .wellcome-section__container {
        text-align: center;

        .wellcome-section__insruction {
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 27/22 * 100%;
            margin-bottom: 53px;

            a {
                font-weight: 700;
                text-decoration: underline;
                cursor: pointer;
            }
        }

        @media (max-width: 508px) {
            .wellcome-section__insruction {
                font-size: 1.7rem;
            }
        }

        .wellcome-section__search {
            width: 500px;
            align-items: center;
            padding: 13px 27px;
            background-color: white;
            margin: 0 auto 30px;

            label {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            input {
                outline: none;
                width: 100%;
                padding-right: 5px;

                &::placeholder {
                    color: #ACACAC;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 100%;
                }
            }

            div {
                width: 24px;
                height: 24px;
                background-image: url('../assets/images/wellcome-section/search.svg');
                cursor: pointer;
            }
        }

        @media (max-width: 534px) {
            .wellcome-section__search {
                width: 95%;
            }
        }

        .wellcome-section__button {
            padding: 17px 28px 19px;
            background-color: $main-red;
            color: #FFF;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 100%;
            margin-bottom: 70px;
            cursor: pointer;

            &:hover {
                background-color: #640017;
                transition: all 0.25s ease-in-out;
            }
        }

        .wellcome-section__stat {
            display: flex;
            column-gap: 40px;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 20px;

            .wellcome-section__stat__item {
                color: #FFF;
                text-align: center;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 34.5/27 * 100%;

                p {
                    &:last-child {
                        color: #FFF;
                        font-size: 3rem;
                        font-weight: 700;
                        margin-top: 10px;
                    }
                }
            }

            @media (max-width: 452px) { 
                .wellcome-section__stat__item {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (max-width: 1349px) {
    .wellcome-section {
        padding-top: 30vw;
        padding-bottom: 377/1920 * 100vw;
    }
}

@media (max-width: 614px) {
    .wellcome-section {
        padding-top: 40vw;
    }
}

@media (max-width: 396px) {
    .wellcome-section {
        padding-top: 55vw;
    }
}

@media (max-width: 363px) {
    .wellcome-section {
        padding-top: 65vw;
    }
}

@media (max-width: 343px) {
    .wellcome-section {
        padding-top: 80vw;
    }
}